
<!DOCTYPE html>
<html lang="en">
<head>
    
                    
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: sans-serif;
            background-image: url('../static/assets/img/page-title-bg.jpg');
            background-size: cover;
            background-position: center;
            font-size: 50px;
        }
    </style>
    </head>
    <div class="body">

      <br>
      <br>
      <h1>The predicted output is: {{ p }}</h1>
      <br>
      <br>
      <a href="prediction.html">go back to index page</a>
      <br>
      <br>
      <a href="index.html">go back to prediction page</a>
      </div>
     
                
</body>
</html>
